<div class="container">

  <div class="row">
    <div class="col-12">
      <app-info [id]="id!"></app-info>
    </div>
  </div>


  <div class="row" *ngIf="isOwnProfile">
    <div class="col-12">
      <button class="btn btn-primary my-3" (click)="toggleAddPost()">
        {{ showAddPost ? 'Cancel' : 'Make a Post' }}
      </button>

      <div *ngIf="showAddPost" class="w-50">
        <app-add-post [id]="id!"></app-add-post>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div *ngIf = "isOwnProfile">
        <app-friends-list></app-friends-list>
      </div>
      <div *ngIf="isOwnProfile">
        <app-add-friend></app-add-friend>
      </div>
    </div>

    <div class="col-sm-8">
      <app-profile-posts [id]="id!"></app-profile-posts>
    </div>

  </div>
</div>

