<div class="container">

  <div class="row mt-4">
    <div class="col-12">
      <h1>Profile info</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-info [id]="id!"></app-info>
    </div>
  </div>


  <div class="row" *ngIf="isOwnProfile">
    <div class="col-12">
      <button class="btn btn-primary my-3" (click)="toggleAddPost()">
        {{ showAddPost ? 'Cancel' : 'Make a Post' }}
      </button>

      <div *ngIf="showAddPost" class="w-50">
        <app-add-post [id]="id!"></app-add-post>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" *ngIf="!isOwnProfile">
      <button class="btn btn-primary mt-3" (click)="startChat()">Message</button>

      <div *ngIf="chatOpen" class="chat-box">
        <app-messaging [receiverId]="id!"></app-messaging>
      </div>
    </div>

    <div class="col-sm-8">
      <h2>Posts</h2>
      <app-profile-posts [id]="id!"></app-profile-posts>
    </div>

  </div>
</div>

